    .fields-create-wrap{
        position: fixed;
        top: 0;
        height: 0;
        width: 100%;
    }
    .fields-create-width{
        position: relative;
        top: 25px;
        max-width: 1177px;
        margin: 0 auto;
        height: 52px;
    }
    .fields-create{
        position: absolute;
        top: 0px;
        right: 0;
        height: 52px;
        width: 170px;
        transition: top $speed;
    }
    .main-area.fields.dirty .fields-create {
        top: 0;
    }
    .create-panel{
        position: absolute;
        right: 0;
        padding: 12px;
        background-color: #566270;
        border-top-left-radius: 20px;
    }
    .create-panel-shear{
        position: absolute;
        left: -14px;
        width: 100%;
        height: 52px;
        background-color: #566270;
        box-shadow: 0 0 8px 4px rgba(0,0,0,0.5);
        transform: skewX(20deg);
    }
