    .fields-edit{
        position: fixed;
        top:0;
        bottom:0;
        right: 0;
        width: 300px;
        z-index: 4;
        background-color: white;
        padding: 12px;
        overflow: scroll;
    }

    .action-row{
        margin: 12px 0;
        float: right;
    }

    label{
        display: block;
        font-size: 12px;
        margin-top: 6px;
    }

    input {
        width: 96%;
    }

    select {
        width: 100%;
    }

    textarea {
        width: 96%;
        max-width: 96%;
    }

    