	aside.about div,
	aside.about h1,
	aside.about h2,
	aside.about h3{
        text-align: center;
	}
	aside.about .bottom{
		position: absolute;
		bottom: 2em;
		width: 100%;
	}
	aside.about .made{
		font-size: 10px;
	}
	aside.about h3{
		font-size: 10px;
	}
