    .w01{ width:  1%; }
    .w02{ width:  2%; }
    .w03{ width:  3%; }
    .w04{ width:  4%; }
    .w05{ width:  5%; }
    .w06{ width:  6%; }
    .w07{ width:  7%; }
    .w08{ width:  8%; }
    .w09{ width:  9%; }
    .w10{ width: 10%; }
    .w11{ width: 11%; }
    .w12{ width: 12%; }

    .w20{ width: 20%; }
    .w21{ width: 21%; }
    .w22{ width: 22%; }
    .w23{ width: 23%; }
    .w24{ width: 24%; }
    .w25{ width: 25%; }

    .mw80px{ min-width: 80px; }

